/* Importing Tajawal font from Google Fonts */

/* Defining font faces */
@font-face {
  font-family: 'Tajawal';
  font-weight: 200;
  src: url("../public/fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");

}
